{
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "no-descending-specificity": [
            true, {
                ignore: ["selectors-within-list"]
            }
        ],
        "declaration-block-no-duplicate-custom-properties": true,
        "declaration-block-no-duplicate-properties": true,
        "font-family-no-duplicate-names": true,
        "keyframe-block-no-duplicate-selectors": true,
        "no-duplicate-at-import-rules": true,
        "no-duplicate-selectors": [
            true, {
                "disallowInList": true
            }
        ],

        "block-no-empty": true,

        "at-rule-empty-line-before": [
            "always", {
                "except": ["blockless-after-blockless", "first-nested"],
                "ignore": ["after-comment"]
            }
        ],
        "at-rule-name-case": "lower",
        "at-rule-no-vendor-prefix": true,
        "at-rule-name-space-after": "always",
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-space-before": "always-single-line",
        "block-opening-brace-newline-after": "always-multi-line",
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-space-before": "always-single-line",
        "color-no-hex": true,
        "color-named": "never",
        "comment-empty-line-before": [
            "always",
            {
                "except": ["first-nested"],
                "ignore": ["stylelint-commands"]
            }
        ],
        "comment-no-empty": true,
        "comment-whitespace-inside": "always",
        "custom-property-empty-line-before": [
            "always", {
                "except": ["after-comment", "after-custom-property", "first-nested"]
            }
        ],
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always-single-line",
        "declaration-colon-space-before": "never",
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-single-line-max-declarations": 1,
        "declaration-block-trailing-semicolon": "always",
        "font-family-name-quotes": "always-where-recommended",
        "function-comma-newline-after": "always-multi-line",
        "function-comma-newline-before": "never-multi-line",
        "function-comma-space-after": "always-single-line",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-name-case": "lower",
        "function-url-no-scheme-relative": true,
        "function-url-quotes": "always",
        "function-whitespace-after": "always",
        "indentation": [
            4,
            {
                "indentInsideParens": "once-at-root-twice-in-block",
                "ignore": ["value", "param"],
                "indentClosingBrace": false
            }
        ],
        "keyframe-declaration-no-important": true,
        "length-zero-no-unit": true,
        "max-line-length": 80,
        "max-empty-lines": 5,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-case": "lower",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-parentheses-space-inside": "never",
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-query-list-comma-newline-after": "always",
        "media-query-list-comma-newline-before": "never-multi-line",
        "media-query-list-comma-space-after": "always-single-line",
        "media-query-list-comma-space-before": "never",
        "no-empty-source": true,
        "no-eol-whitespace": true,
        "no-extra-semicolons": true,
        "no-missing-end-of-source-newline": true,
        "number-leading-zero": "never",
        "number-no-trailing-zeros": true,
        "order/properties-order": [
            [{
                    "emptyLineBefore": "always",
                    "properties": [
                        "position",
                        "top",
                        "right",
                        "bottom",
                        "left",
                        "z-index"
                    ]
                },
                {
                    "emptyLineBefore": "always",
                    "properties": [
                        "display",
                        "float",
                        "clear",
                        "flex",
                        "flex-grow",
                        "flex-shrink",
                        "flex-basis",
                        "width",
                        "max-width",
                        "min-width",
                        "height",
                        "max-height",
                        "min-height"
                    ]
                },
                {
                    "emptyLineBefore": "always",
                    "properties": [
                        "font",
                        "font-size",
                        "font-weight",
                        "font-style",
                        "font-family",
                        "font-variant",
                        "font-feature",
                        "font-kerning",
                        "font-stretch",
                        "line-height",
                        "color",
                        "text",
                        "text-align",
                        "text-decoration",
                        "text-transform",
                        "letter-spacing"
                    ]
                },
                {
                    "emptyLineBefore": "always",
                    "properties": [
                        "background",
                        "background-color",
                        "background-image",
                        "background-origin",
                        "background-position",
                        "background-repeat",
                        "background-size",
                        "border",
                        "border-top",
                        "border-right",
                        "border-bottom",
                        "border-left",
                        "margin",
                        "margin-top",
                        "margin-right",
                        "margin-bottom",
                        "margin-left",
                        "padding",
                        "padding-top",
                        "padding-right",
                        "padding-bottom",
                        "padding-left"
                    ]
                }
            ],
            {
                "unspecified": "bottomAlphabetical"
            }
        ],
        "property-case": "lower",
        "property-no-vendor-prefix": true,
        "rule-empty-line-before": [
            "always",
            {
                "ignore": ["after-comment"]
            }
        ],
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-quotes": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-max-empty-lines": 0,
        "selector-max-id": 0,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-element-no-unknown": true,
        "selector-list-comma-newline-after": "always-multi-line",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-after": "always-single-line",
        "selector-list-comma-space-before": "never",
        "selector-max-compound-selectors": 3,
        "selector-type-no-unknown": true,
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "double",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-no-vendor-prefix": true,
        "value-list-comma-space-after": "always-single-line"
    }
}
